body {color: white; background-color: rgb(73, 45, 7); align-items: center; margin: 10%;}
a {color: #ffc107;}
.jumbotron {background-color: rgb(73, 45, 7); margin-top: 10%;}
#add {float: right; color: #ffc107;}
