{% extends 'bootstrap/base.html' %}

{% block title %}Coffee&Wifi{% endblock %}

{% block content %}
<h1>All Cafes</h1>
<hr>
<table class="table">
    <thead>
      <tr>
        {% for column in columns %}
        <th scope="col">{{column}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for cafe_features in cafes %}
      <tr>
        {% for feature in cafe_features %}
        {% if "http" in feature %}
        <td><a href="{{ feature }}">Map Link</a></td>
        {% else %}
        <td>{{ feature }}</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="return" href="/" role="button">Return to index page</a>
  <a id="add" href="{{url_for('add')}}" role="button">Add</a>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}